/* -------------------------------- 

Primary style

-------------------------------- */
/*inbox*/

.card {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: -1; }
  .card .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 6px 6px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .card .image img {
      width: 100%; }
  .card .content {
    padding: 15px 15px 10px 15px; }
  .card .header {
    padding: 20px 20px 0; }
  .card .description {
    font-size: 16px;
    color: #66615b; }
  .card h6 {
    font-size: 12px;
    margin: 0; }
  .card .category,
  .card label {
    font-size: 14px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px; }
    .card .category i,
    .card label i {
      font-size: 16px; }
  .card label {
    font-size: 15px;
    margin-bottom: 5px; }
  .card .title {
    margin: 0;
    color: #252422;
    font-weight: 300; }
  .card .avatar {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px; }
  .card .footer {
    padding: 0;
    line-height: 30px; }
    .card .footer .legend {
      padding: 5px 0; }
    .card .footer hr {
      margin-top: 5px;
      margin-bottom: 5px; }
  .card .stats {
    color: #a9a9a9;
    font-weight: 300; }
    .card .stats i {
      margin-right: 2px;
      min-width: 15px;
      display: inline-block; }
  .card .footer div {
    display: inline-block; }
  .card .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase; }
  .card .author i {
    font-size: 14px; }
  .card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute; }
  .card .ct-chart {
    margin: 30px 0 30px;
    height: 245px; }
  .card .table tbody td:first-child,
  .card .table thead th:first-child {
    padding-left: 15px; }
  .card .table tbody td:last-child,
  .card .table thead th:last-child {
    padding-right: 15px; }
  .card .alert {
    border-radius: 4px;
    position: relative; }
    .card .alert.alert-with-icon {
      padding-left: 65px; }
  .card .icon-big {
    font-size: 3em;
    min-height: 64px; }
  .card .numbers {
    font-size: 2em;
    text-align: right; }
    .card .numbers p {
      margin: 0; }
  .card ul.team-members li {
    padding: 10px 0px; }
    .card ul.team-members li:not(:last-child) {
      border-bottom: 1px solid #F1EAE0; }

.card-user .image {
  border-radius: 8px 8px 0 0;
  height: 150px;
  position: relative;
  overflow: hidden; }
  .card-user .image img {
    width: 100%; }
.card-user .image-plain {
  height: 0;
  margin-top: 110px; }
.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: -65px; }
  .card-user .author .title {
    color: #403D39; }
    .card-user .author .title small {
      color: #ccc5b9; }
.card-user .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px; }
  .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px; }
  .card-user .avatar.border-white {
    border: 5px solid #FFFFFF; }
  .card-user .avatar.border-gray {
    border: 5px solid #ccc5b9; }
.card-user .title {
  font-weight: 600;
  line-height: 24px; }
.card-user .description {
  margin-top: 10px; }
.card-user .content {
  min-height: 200px; }
.card-user.card-plain .avatar {
  height: 190px;
  width: 190px; }

.card-map .map {
  height: 500px;
  padding-top: 20px; }
  .card-map .map > div {
    height: 100%; }

.card-user .footer,
.card-price .footer {
  padding: 5px 15px 10px; }
.card-user hr,
.card-price hr {
  margin: 5px 15px; }
/*style pagina principal*/
.tiles-heading,
.tiles-body,
.tiles-footer {
  -webkit-transition: 0.05s ease-in;
  -o-transition: 0.05s ease-in;
  transition: 0.05s ease-in;
}
.info-tiles,
.shortcut-tiles {
  margin: 0px 0px 20px;
  display: block;
  border-radius: 3px;
}
a.info-tiles,
a.shortcut-tiles {
  background: none;
}
.info-tiles .tiles-heading {
  letter-spacing: 0.1em;
  padding: 6px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}
.info-tiles .tiles-heading .pull-right {
  -webkit-transition: 0.06s ease-in;
  -o-transition: 0.06s ease-in;
  transition: 0.06s ease-in;
  color: rgba(255, 255, 255, 0.4);
}
.info-tiles .tiles-heading .pull-right .sparkline-block {
  font-size: 0;
  padding: 2px 0;
}
.info-tiles .tiles-body {
  font-size: 36px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.info-tiles .tiles-body .text-centered {
  position: relative;
  text-align: center;
}
.info-tiles .tiles-body .text-centered .easypiechart {
  margin: 10px auto;
  height: 80px;
  line-height: 80px;
  width: 80px;
}
.info-tiles .tiles-body .text-centered .easypiechart .percent {
  width: 80px;
  line-height: 80px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.info-tiles .tiles-body .text-centered .info-sparkline {
  font-size: 0;
  margin: 15px 0;
}
.info-tiles .tiles-body .text-centered i {
  position: absolute;
  margin: auto;
  top: -5px;
  left: -5px;
  color: rgba(255, 255, 255, 0.15);
}
.info-tiles .tiles-body .text-centered i:hover {
  color: rgba(255, 255, 255, 0.15);
}
.info-tiles .tiles-body .text-centered .info-text {
  font-size: 36px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.info-tiles .tiles-body .text-centered .info-text .superscript {
  position: relative;
  font-size: 18px;
  top: -16px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body .text-centered .info-text .subscript {
  position: relative;
  font-size: 18px;
  top: 0px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body .text-centered .info-text-bottom {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body-alt {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.info-tiles.has-footer .tiles-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.info-tiles .tiles-body-alt,
.info-tiles .tiles-body {
  padding: 10px 20px;
  font-weight: 300;
}
.info-tiles .tiles-body-alt .subscript,
.info-tiles .tiles-body .subscript {
  position: relative;
  font-size: 18px;
  top: 0px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body-alt .sparkline,
.info-tiles .tiles-body .sparkline {
  width: 100px;
  margin: 0 auto;
  padding: 0px;
}
.info-tiles .tiles-body-alt .text-top,
.info-tiles .tiles-body .text-top {
  vertical-align: super;
  font-size: 24px;
}
.info-tiles .tiles-body-alt .text-smallcaps,
.info-tiles .tiles-body .text-smallcaps {
  font-variant: small-caps;
}
.info-tiles .tiles-body-alt i,
.info-tiles .tiles-body i {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.06s ease-in;
  -o-transition: 0.06s ease-in;
  transition: 0.06s ease-in;
}
.info-tiles .tiles-body-alt > i,
.info-tiles .tiles-body > i {
  position: absolute;
  font-size: 36px;
}
.info-tiles .tiles-body-alt div + small,
.info-tiles .tiles-body div + small {
  font-size: 14px;
  text-align: center;
  display: block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -7px;
  margin-bottom: 4px;
}
.info-tiles .tiles-footer {
  color: #fff;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  padding: 6px 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.info-tiles .tiles-footer .pull-right .sparkline-block {
  font-size: 0;
  padding: 2px 0;
}
.info-tiles:hover {
  text-decoration: none;
}
.info-tiles:hover i {
  color: #ffffff;
}
.info-tiles:hover .text-sparkline i {
  color: #ffffff;
}
.info-tiles:hover .tiles-footer .percent-change {
  color: #fff;
}
.info-tiles:hover .tiles-heading .pull-right {
  color: #ffffff;
}
.shortcut-tiles .tiles-body {
  padding: 10px 10px 0px 10px;
  font-size: 36px;
  line-height: 35px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.shortcut-tiles .tiles-body i {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.06s ease-in;
  -o-transition: 0.06s ease-in;
  transition: 0.06s ease-in;
}
.shortcut-tiles .tiles-body .pull-right {
  margin-top: -3px;
  line-height: 0;
}
.shortcut-tiles .tiles-body .pull-right .badge {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.3);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4d000000, endColorstr=#4d000000);
}
.shortcut-tiles .tiles-footer {
  text-transform: none;
  text-align: right;
  padding: 7px 10px;
  letter-spacing: 0.1em;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.shortcut-tiles:hover {
  text-decoration: none;
}
.shortcut-tiles:hover i {
  color: #ffffff;
}
.info-tiles.tiles-info {
  color: #ffffff !important;
}
.info-tiles.tiles-info .tiles-heading {
  background: #58cbc2;
}
.info-tiles.tiles-info .tiles-body {
  background: #3bbfb4;
}
.info-tiles.tiles-info .tiles-body-alt {
  background: #3bbfb4;
}
.info-tiles.tiles-info .tiles-footer {
  background: #36afa5;
}
.info-tiles.tiles-info:hover {
  color: #ffffff;
}
.info-tiles.tiles-info:hover .tiles-heading {
  background: #40c4b9;
}
.info-tiles.tiles-info:hover .tiles-body {
  background: #35aca2;
}
.info-tiles.tiles-info:hover .tiles-body-alt {
  background: #35aca2;
}
.info-tiles.tiles-info:hover .tiles-footer {
  background: #309c93;
}
.info-tiles.tiles-success {
  color: #ffffff !important;
}
.info-tiles.tiles-success .tiles-heading {
  background: #4cd787;
}
.info-tiles.tiles-success .tiles-body {
  background: #2ecc71;
}
.info-tiles.tiles-success .tiles-body-alt {
  background: #2ecc71;
}
.info-tiles.tiles-success .tiles-footer {
  background: #2abb68;
}
.info-tiles.tiles-success:hover {
  color: #ffffff;
}
.info-tiles.tiles-success:hover .tiles-heading {
  background: #33d176;
}
.info-tiles.tiles-success:hover .tiles-body {
  background: #29b765;
}
.info-tiles.tiles-success:hover .tiles-body-alt {
  background: #29b765;
}
.info-tiles.tiles-success:hover .tiles-footer {
  background: #26a75c;
}
.info-tiles.tiles-danger {
  color: #ffffff !important;
}
.info-tiles.tiles-danger .tiles-heading {
  background: #eb6d60;
}
.info-tiles.tiles-danger .tiles-body {
  background: #e74c3c;
}
.info-tiles.tiles-danger .tiles-body-alt {
  background: #e74c3c;
}
.info-tiles.tiles-danger .tiles-footer {
  background: #e53b2a;
}
.info-tiles.tiles-danger:hover {
  color: #ffffff;
}
.info-tiles.tiles-danger:hover .tiles-heading {
  background: #e85445;
}
.info-tiles.tiles-danger:hover .tiles-body {
  background: #e43725;
}
.info-tiles.tiles-danger:hover .tiles-body-alt {
  background: #e43725;
}
.info-tiles.tiles-danger:hover .tiles-footer {
  background: #da2d1b;
}
.info-tiles.tiles-warning {
  color: #ffffff !important;
}
.info-tiles.tiles-warning .tiles-heading {
  background: #f3cd36;
}
.info-tiles.tiles-warning .tiles-body {
  background: #f1c40f;
}
.info-tiles.tiles-warning .tiles-body-alt {
  background: #f1c40f;
}
.info-tiles.tiles-warning .tiles-footer {
  background: #dfb50d;
}
.info-tiles.tiles-warning:hover {
  color: #ffffff;
}
.info-tiles.tiles-warning:hover .tiles-heading {
  background: #f2c619;
}
.info-tiles.tiles-warning:hover .tiles-body {
  background: #dab10d;
}
.info-tiles.tiles-warning:hover .tiles-body-alt {
  background: #dab10d;
}
.info-tiles.tiles-warning:hover .tiles-footer {
  background: #c7a10c;
}
.info-tiles.tiles-primary {
  color: #ffffff !important;
}
.info-tiles.tiles-primary .tiles-heading {
  background: #57aae1;
}
.info-tiles.tiles-primary .tiles-body {
  background: #3498db;
}
.info-tiles.tiles-primary .tiles-body-alt {
  background: #3498db;
}
.info-tiles.tiles-primary .tiles-footer {
  background: #268fd5;
}
.info-tiles.tiles-primary:hover {
  color: #ffffff;
}
.info-tiles.tiles-primary:hover .tiles-heading {
  background: #3d9cdd;
}
.info-tiles.tiles-primary:hover .tiles-body {
  background: #258cd1;
}
.info-tiles.tiles-primary:hover .tiles-body-alt {
  background: #258cd1;
}
.info-tiles.tiles-primary:hover .tiles-footer {
  background: #2280bf;
}
.info-tiles.tiles-inverse {
  color: #ffffff !important;
}
.info-tiles.tiles-inverse .tiles-heading {
  background: #abb8b9;
}
.info-tiles.tiles-inverse .tiles-body {
  background: #95a5a6;
}
.info-tiles.tiles-inverse .tiles-body-alt {
  background: #95a5a6;
}
.info-tiles.tiles-inverse .tiles-footer {
  background: #8a9c9d;
}
.info-tiles.tiles-inverse:hover {
  color: #ffffff;
}
.info-tiles.tiles-inverse:hover .tiles-heading {
  background: #9baaab;
}
.info-tiles.tiles-inverse:hover .tiles-body {
  background: #87999a;
}
.info-tiles.tiles-inverse:hover .tiles-body-alt {
  background: #87999a;
}
.info-tiles.tiles-inverse:hover .tiles-footer {
  background: #7c9091;
}
.info-tiles.tiles-midnightblue {
  color: #ffffff !important;
}
.info-tiles.tiles-midnightblue .tiles-heading {
  background: #435d78;
}
.info-tiles.tiles-midnightblue .tiles-body {
  background: #34495e;
}
.info-tiles.tiles-midnightblue .tiles-body-alt {
  background: #34495e;
}
.info-tiles.tiles-midnightblue .tiles-footer {
  background: #2d3f51;
}
.info-tiles.tiles-midnightblue:hover {
  color: #ffffff;
}
.info-tiles.tiles-midnightblue:hover .tiles-heading {
  background: #384e65;
}
.info-tiles.tiles-midnightblue:hover .tiles-body {
  background: #2b3c4e;
}
.info-tiles.tiles-midnightblue:hover .tiles-body-alt {
  background: #2b3c4e;
}
.info-tiles.tiles-midnightblue:hover .tiles-footer {
  background: #243240;
}
.info-tiles.tiles-sky {
  color: #ffffff !important;
}
.info-tiles.tiles-sky .tiles-heading {
  background: #a4d4ed;
}
.info-tiles.tiles-sky .tiles-body {
  background: #82c4e6;
}
.info-tiles.tiles-sky .tiles-body-alt {
  background: #82c4e6;
}
.info-tiles.tiles-sky .tiles-footer {
  background: #71bce3;
}
.info-tiles.tiles-sky:hover {
  color: #ffffff;
}
.info-tiles.tiles-sky:hover .tiles-heading {
  background: #8ac8e8;
}
.info-tiles.tiles-sky:hover .tiles-body {
  background: #6dbae2;
}
.info-tiles.tiles-sky:hover .tiles-body-alt {
  background: #6dbae2;
}
.info-tiles.tiles-sky:hover .tiles-footer {
  background: #5cb2de;
}
.info-tiles.tiles-orange {
  color: #ffffff !important;
}
.info-tiles.tiles-orange .tiles-heading {
  background: #ea9347;
}
.info-tiles.tiles-orange .tiles-body {
  background: #e67e22;
}
.info-tiles.tiles-orange .tiles-body-alt {
  background: #e67e22;
}
.info-tiles.tiles-orange .tiles-footer {
  background: #db7419;
}
.info-tiles.tiles-orange:hover {
  color: #ffffff;
}
.info-tiles.tiles-orange:hover .tiles-heading {
  background: #e7832b;
}
.info-tiles.tiles-orange:hover .tiles-body {
  background: #d67118;
}
.info-tiles.tiles-orange:hover .tiles-body-alt {
  background: #d67118;
}
.info-tiles.tiles-orange:hover .tiles-footer {
  background: #c46816;
}
.info-tiles.tiles-indigo {
  color: #ffffff !important;
}
.info-tiles.tiles-indigo .tiles-heading {
  background: #9180c8;
}
.info-tiles.tiles-indigo .tiles-body {
  background: #7863bc;
}
.info-tiles.tiles-indigo .tiles-body-alt {
  background: #7863bc;
}
.info-tiles.tiles-indigo .tiles-footer {
  background: #6c55b6;
}
.info-tiles.tiles-indigo:hover {
  color: #ffffff;
}
.info-tiles.tiles-indigo:hover .tiles-heading {
  background: #7e6abf;
}
.info-tiles.tiles-indigo:hover .tiles-body {
  background: #6951b4;
}
.info-tiles.tiles-indigo:hover .tiles-body-alt {
  background: #6951b4;
}
.info-tiles.tiles-indigo:hover .tiles-footer {
  background: #5f48a9;
}
.info-tiles.tiles-green {
  color: #ffffff !important;
}
.info-tiles.tiles-green .tiles-heading {
  background: #52cda0;
}
.info-tiles.tiles-green .tiles-body {
  background: #37bf8d;
}
.info-tiles.tiles-green .tiles-body-alt {
  background: #37bf8d;
}
.info-tiles.tiles-green .tiles-footer {
  background: #32af81;
}
.info-tiles.tiles-green:hover {
  color: #ffffff;
}
.info-tiles.tiles-green:hover .tiles-heading {
  background: #3ac693;
}
.info-tiles.tiles-green:hover .tiles-body {
  background: #31ab7e;
}
.info-tiles.tiles-green:hover .tiles-body-alt {
  background: #31ab7e;
}
.info-tiles.tiles-green:hover .tiles-footer {
  background: #2d9b73;
}
.info-tiles.tiles-blue {
  color: #ffffff !important;
}
.info-tiles.tiles-blue .tiles-heading {
  background: #72a7d3;
}
.info-tiles.tiles-blue .tiles-body {
  background: #5394c9;
}
.info-tiles.tiles-blue .tiles-body-alt {
  background: #5394c9;
}
.info-tiles.tiles-blue .tiles-footer {
  background: #438ac4;
}
.info-tiles.tiles-blue:hover {
  color: #ffffff;
}
.info-tiles.tiles-blue:hover .tiles-heading {
  background: #5b99cb;
}
.info-tiles.tiles-blue:hover .tiles-body {
  background: #4088c3;
}
.info-tiles.tiles-blue:hover .tiles-body-alt {
  background: #4088c3;
}
.info-tiles.tiles-blue:hover .tiles-footer {
  background: #397db5;
}
.info-tiles.tiles-magenta {
  color: #ffffff !important;
}
.info-tiles.tiles-magenta .tiles-heading {
  background: #eb6084;
}
.info-tiles.tiles-magenta .tiles-body {
  background: #e73c68;
}
.info-tiles.tiles-magenta .tiles-body-alt {
  background: #e73c68;
}
.info-tiles.tiles-magenta .tiles-footer {
  background: #e52a5a;
}
.info-tiles.tiles-magenta:hover {
  color: #ffffff;
}
.info-tiles.tiles-magenta:hover .tiles-heading {
  background: #e8456f;
}
.info-tiles.tiles-magenta:hover .tiles-body {
  background: #e42556;
}
.info-tiles.tiles-magenta:hover .tiles-body-alt {
  background: #e42556;
}
.info-tiles.tiles-magenta:hover .tiles-footer {
  background: #da1b4c;
}
.info-tiles.tiles-purple {
  color: #ffffff !important;
}
.info-tiles.tiles-purple .tiles-heading {
  background: #e667bb;
}
.info-tiles.tiles-purple .tiles-body {
  background: #e044ab;
}
.info-tiles.tiles-purple .tiles-body-alt {
  background: #e044ab;
}
.info-tiles.tiles-purple .tiles-footer {
  background: #dd33a3;
}
.info-tiles.tiles-purple:hover {
  color: #ffffff;
}
.info-tiles.tiles-purple:hover .tiles-heading {
  background: #e14daf;
}
.info-tiles.tiles-purple:hover .tiles-body {
  background: #dc2ea1;
}
.info-tiles.tiles-purple:hover .tiles-body-alt {
  background: #dc2ea1;
}
.info-tiles.tiles-purple:hover .tiles-footer {
  background: #d32397;
}
.info-tiles.tiles-brown {
  color: #ffffff !important;
}
.info-tiles.tiles-brown .tiles-heading {
  background: #d44e40;
}
.info-tiles.tiles-brown .tiles-body {
  background: #c0392b;
}
.info-tiles.tiles-brown .tiles-body-alt {
  background: #c0392b;
}
.info-tiles.tiles-brown .tiles-footer {
  background: #af3427;
}
.info-tiles.tiles-brown:hover {
  color: #ffffff;
}
.info-tiles.tiles-brown:hover .tiles-heading {
  background: #c83b2d;
}
.info-tiles.tiles-brown:hover .tiles-body {
  background: #ab3326;
}
.info-tiles.tiles-brown:hover .tiles-body-alt {
  background: #ab3326;
}
.info-tiles.tiles-brown:hover .tiles-footer {
  background: #9a2e23;
}
.info-tiles.tiles-grape {
  color: #ffffff !important;
}
.info-tiles.tiles-grape .tiles-heading {
  background: #919bad;
}
.info-tiles.tiles-grape .tiles-body {
  background: #7a869c;
}
.info-tiles.tiles-grape .tiles-body-alt {
  background: #7a869c;
}
.info-tiles.tiles-grape .tiles-footer {
  background: #6e7b93;
}
.info-tiles.tiles-grape:hover {
  color: #ffffff;
}
.info-tiles.tiles-grape:hover .tiles-heading {
  background: #808ba0;
}
.info-tiles.tiles-grape:hover .tiles-body {
  background: #6c7991;
}
.info-tiles.tiles-grape:hover .tiles-body-alt {
  background: #6c7991;
}
.info-tiles.tiles-grape:hover .tiles-footer {
  background: #636f85;
}
.info-tiles.tiles-toyo {
  color: #ffffff !important;
}
.info-tiles.tiles-toyo .tiles-heading {
  background: #677fa4;
}
.info-tiles.tiles-toyo .tiles-body {
  background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-body-alt {
  background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-footer {
  background: #4d6180;
}
.info-tiles.tiles-toyo:hover {
  color: #ffffff;
}
.info-tiles.tiles-toyo:hover .tiles-heading {
  background: #597093;
}
.info-tiles.tiles-toyo:hover .tiles-body {
  background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-body-alt {
  background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-footer {
  background: #445570;
}
.info-tiles.tiles-alizarin {
  color: #ffffff !important;
}
.info-tiles.tiles-alizarin .tiles-heading {
  background: #e98a72;
}
.info-tiles.tiles-alizarin .tiles-body {
  background: #e36d4f;
}
.info-tiles.tiles-alizarin .tiles-body-alt {
  background: #e36d4f;
}
.info-tiles.tiles-alizarin .tiles-footer {
  background: #e05e3d;
}
.info-tiles.tiles-alizarin:hover {
  color: #ffffff;
}
.info-tiles.tiles-alizarin:hover .tiles-heading {
  background: #e47458;
}
.info-tiles.tiles-alizarin:hover .tiles-body {
  background: #e05b39;
}
.info-tiles.tiles-alizarin:hover .tiles-body-alt {
  background: #e05b39;
}
.info-tiles.tiles-alizarin:hover .tiles-footer {
  background: #dd4c27;
}
.info-tiles.tiles-facebook {
  color: #ffffff !important;
}
.info-tiles.tiles-facebook .tiles-heading {
  background: #466ab5;
}
.info-tiles.tiles-facebook .tiles-body {
  background: #3b5998;
}
.info-tiles.tiles-facebook .tiles-body-alt {
  background: #3b5998;
}
.info-tiles.tiles-facebook .tiles-footer {
  background: #355089;
}
.info-tiles.tiles-facebook:hover {
  color: #ffffff;
}
.info-tiles.tiles-facebook:hover .tiles-heading {
  background: #3e5d9f;
}
.info-tiles.tiles-facebook:hover .tiles-body {
  background: #344e86;
}
.info-tiles.tiles-facebook:hover .tiles-body-alt {
  background: #344e86;
}
.info-tiles.tiles-facebook:hover .tiles-footer {
  background: #2e4677;
}
.info-tiles.tiles-twitter {
  color: #ffffff !important;
}
.info-tiles.tiles-twitter .tiles-heading {
  background: #17bfff;
}
.info-tiles.tiles-twitter .tiles-body {
  background: #00aced;
}
.info-tiles.tiles-twitter .tiles-body-alt {
  background: #00aced;
}
.info-tiles.tiles-twitter .tiles-footer {
  background: #009dd9;
}
.info-tiles.tiles-twitter:hover {
  color: #ffffff;
}
.info-tiles.tiles-twitter:hover .tiles-heading {
  background: #00b3f7;
}
.info-tiles.tiles-twitter:hover .tiles-body {
  background: #0099d4;
}
.info-tiles.tiles-twitter:hover .tiles-body-alt {
  background: #0099d4;
}
.info-tiles.tiles-twitter:hover .tiles-footer {
  background: #008bbf;
}
.info-tiles.tiles-dribbble {
  color: #ffffff !important;
}
.info-tiles.tiles-dribbble .tiles-heading {
  background: #ee71a1;
}
.info-tiles.tiles-dribbble .tiles-body {
  background: #ea4c89;
}
.info-tiles.tiles-dribbble .tiles-body-alt {
  background: #ea4c89;
}
.info-tiles.tiles-dribbble .tiles-footer {
  background: #e83a7d;
}
.info-tiles.tiles-dribbble:hover {
  color: #ffffff;
}
.info-tiles.tiles-dribbble:hover .tiles-heading {
  background: #eb558f;
}
.info-tiles.tiles-dribbble:hover .tiles-body {
  background: #e7357a;
}
.info-tiles.tiles-dribbble:hover .tiles-body-alt {
  background: #e7357a;
}
.info-tiles.tiles-dribbble:hover .tiles-footer {
  background: #e5236e;
}
.info-tiles.tiles-vimeo {
  color: #ffffff !important;
}
.info-tiles.tiles-vimeo .tiles-heading {
  background: #badc71;
}
.info-tiles.tiles-vimeo .tiles-body {
  background: #aad450;
}
.info-tiles.tiles-vimeo .tiles-body-alt {
  background: #aad450;
}
.info-tiles.tiles-vimeo .tiles-footer {
  background: #a2d040;
}
.info-tiles.tiles-vimeo:hover {
  color: #ffffff;
}
.info-tiles.tiles-vimeo:hover .tiles-heading {
  background: #aed658;
}
.info-tiles.tiles-vimeo:hover .tiles-body {
  background: #a0cf3c;
}
.info-tiles.tiles-vimeo:hover .tiles-body-alt {
  background: #a0cf3c;
}
.info-tiles.tiles-vimeo:hover .tiles-footer {
  background: #96c631;
}
.shortcut-tiles.tiles-info {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-info .tiles-heading,
.shortcut-tiles.tiles-info .tiles-body,
.shortcut-tiles.tiles-info .tiles-footer {
  background: #3bbfb4;
}
.shortcut-tiles.tiles-info:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-info:hover .tiles-heading,
.shortcut-tiles.tiles-info:hover .tiles-body,
.shortcut-tiles.tiles-info:hover .tiles-footer {
  background: #35aca2;
}
.shortcut-tiles.tiles-success {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-success .tiles-heading,
.shortcut-tiles.tiles-success .tiles-body,
.shortcut-tiles.tiles-success .tiles-footer {
  background: #2ecc71;
}
.shortcut-tiles.tiles-success:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-success:hover .tiles-heading,
.shortcut-tiles.tiles-success:hover .tiles-body,
.shortcut-tiles.tiles-success:hover .tiles-footer {
  background: #29b765;
}
.shortcut-tiles.tiles-danger {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-danger .tiles-heading,
.shortcut-tiles.tiles-danger .tiles-body,
.shortcut-tiles.tiles-danger .tiles-footer {
  background: #e74c3c;
}
.shortcut-tiles.tiles-danger:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-danger:hover .tiles-heading,
.shortcut-tiles.tiles-danger:hover .tiles-body,
.shortcut-tiles.tiles-danger:hover .tiles-footer {
  background: #e43725;
}
.shortcut-tiles.tiles-warning {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-warning .tiles-heading,
.shortcut-tiles.tiles-warning .tiles-body,
.shortcut-tiles.tiles-warning .tiles-footer {
  background: #f1c40f;
}
.shortcut-tiles.tiles-warning:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-warning:hover .tiles-heading,
.shortcut-tiles.tiles-warning:hover .tiles-body,
.shortcut-tiles.tiles-warning:hover .tiles-footer {
  background: #dab10d;
}
.shortcut-tiles.tiles-primary {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-primary .tiles-heading,
.shortcut-tiles.tiles-primary .tiles-body,
.shortcut-tiles.tiles-primary .tiles-footer {
  background: #3498db;
}
.shortcut-tiles.tiles-primary:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-primary:hover .tiles-heading,
.shortcut-tiles.tiles-primary:hover .tiles-body,
.shortcut-tiles.tiles-primary:hover .tiles-footer {
  background: #258cd1;
}
.shortcut-tiles.tiles-inverse {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-inverse .tiles-heading,
.shortcut-tiles.tiles-inverse .tiles-body,
.shortcut-tiles.tiles-inverse .tiles-footer {
  background: #95a5a6;
}
.shortcut-tiles.tiles-inverse:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-inverse:hover .tiles-heading,
.shortcut-tiles.tiles-inverse:hover .tiles-body,
.shortcut-tiles.tiles-inverse:hover .tiles-footer {
  background: #87999a;
}
.shortcut-tiles.tiles-midnightblue {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-midnightblue .tiles-heading,
.shortcut-tiles.tiles-midnightblue .tiles-body,
.shortcut-tiles.tiles-midnightblue .tiles-footer {
  background: #34495e;
}
.shortcut-tiles.tiles-midnightblue:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-midnightblue:hover .tiles-heading,
.shortcut-tiles.tiles-midnightblue:hover .tiles-body,
.shortcut-tiles.tiles-midnightblue:hover .tiles-footer {
  background: #2b3c4e;
}
.shortcut-tiles.tiles-sky {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-sky .tiles-heading,
.shortcut-tiles.tiles-sky .tiles-body,
.shortcut-tiles.tiles-sky .tiles-footer {
  background: #82c4e6;
}
.shortcut-tiles.tiles-sky:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-sky:hover .tiles-heading,
.shortcut-tiles.tiles-sky:hover .tiles-body,
.shortcut-tiles.tiles-sky:hover .tiles-footer {
  background: #6dbae2;
}
.shortcut-tiles.tiles-orange {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-orange .tiles-heading,
.shortcut-tiles.tiles-orange .tiles-body,
.shortcut-tiles.tiles-orange .tiles-footer {
  background: #e67e22;
}
.shortcut-tiles.tiles-orange:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-orange:hover .tiles-heading,
.shortcut-tiles.tiles-orange:hover .tiles-body,
.shortcut-tiles.tiles-orange:hover .tiles-footer {
  background: #d67118;
}
.shortcut-tiles.tiles-indigo {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-indigo .tiles-heading,
.shortcut-tiles.tiles-indigo .tiles-body,
.shortcut-tiles.tiles-indigo .tiles-footer {
  background: #7863bc;
}
.shortcut-tiles.tiles-indigo:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-indigo:hover .tiles-heading,
.shortcut-tiles.tiles-indigo:hover .tiles-body,
.shortcut-tiles.tiles-indigo:hover .tiles-footer {
  background: #6951b4;
}
.shortcut-tiles.tiles-green {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-green .tiles-heading,
.shortcut-tiles.tiles-green .tiles-body,
.shortcut-tiles.tiles-green .tiles-footer {
  background: #37bf8d;
}
.shortcut-tiles.tiles-green:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-green:hover .tiles-heading,
.shortcut-tiles.tiles-green:hover .tiles-body,
.shortcut-tiles.tiles-green:hover .tiles-footer {
  background: #31ab7e;
}
.shortcut-tiles.tiles-blue {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-blue .tiles-heading,
.shortcut-tiles.tiles-blue .tiles-body,
.shortcut-tiles.tiles-blue .tiles-footer {
  background: #5394c9;
}
.shortcut-tiles.tiles-blue:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-blue:hover .tiles-heading,
.shortcut-tiles.tiles-blue:hover .tiles-body,
.shortcut-tiles.tiles-blue:hover .tiles-footer {
  background: #4088c3;
}
.shortcut-tiles.tiles-magenta {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-magenta .tiles-heading,
.shortcut-tiles.tiles-magenta .tiles-body,
.shortcut-tiles.tiles-magenta .tiles-footer {
  background: #e73c68;
}
.shortcut-tiles.tiles-magenta:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-magenta:hover .tiles-heading,
.shortcut-tiles.tiles-magenta:hover .tiles-body,
.shortcut-tiles.tiles-magenta:hover .tiles-footer {
  background: #e42556;
}
.shortcut-tiles.tiles-purple {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-purple .tiles-heading,
.shortcut-tiles.tiles-purple .tiles-body,
.shortcut-tiles.tiles-purple .tiles-footer {
  background: #e044ab;
}
.shortcut-tiles.tiles-purple:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-purple:hover .tiles-heading,
.shortcut-tiles.tiles-purple:hover .tiles-body,
.shortcut-tiles.tiles-purple:hover .tiles-footer {
  background: #dc2ea1;
}
.shortcut-tiles.tiles-brown {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-brown .tiles-heading,
.shortcut-tiles.tiles-brown .tiles-body,
.shortcut-tiles.tiles-brown .tiles-footer {
  background: #c0392b;
}
.shortcut-tiles.tiles-brown:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-brown:hover .tiles-heading,
.shortcut-tiles.tiles-brown:hover .tiles-body,
.shortcut-tiles.tiles-brown:hover .tiles-footer {
  background: #ab3326;
}
.shortcut-tiles.tiles-grape {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-grape .tiles-heading,
.shortcut-tiles.tiles-grape .tiles-body,
.shortcut-tiles.tiles-grape .tiles-footer {
  background: #7a869c;
}
.shortcut-tiles.tiles-grape:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-grape:hover .tiles-heading,
.shortcut-tiles.tiles-grape:hover .tiles-body,
.shortcut-tiles.tiles-grape:hover .tiles-footer {
  background: #6c7991;
}
.shortcut-tiles.tiles-toyo {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-toyo .tiles-heading,
.shortcut-tiles.tiles-toyo .tiles-body,
.shortcut-tiles.tiles-toyo .tiles-footer {
  background: #556b8d;
}
.shortcut-tiles.tiles-toyo:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-toyo:hover .tiles-heading,
.shortcut-tiles.tiles-toyo:hover .tiles-body,
.shortcut-tiles.tiles-toyo:hover .tiles-footer {
  background: #4b5f7d;
}
.shortcut-tiles.tiles-alizarin {
  color: #ffffff !important;
}
.shortcut-tiles.tiles-alizarin .tiles-heading,
.shortcut-tiles.tiles-alizarin .tiles-body,
.shortcut-tiles.tiles-alizarin .tiles-footer {
  background: #e36d4f;
}
.shortcut-tiles.tiles-alizarin:hover {
  color: #ffffff;
}
.shortcut-tiles.tiles-alizarin:hover .tiles-heading,
.shortcut-tiles.tiles-alizarin:hover .tiles-body,
.shortcut-tiles.tiles-alizarin:hover .tiles-footer {
  background: #e05b39;
}
.tiles-sparkline {
  background: #fff;
  border: 1px solid #dadfe3;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.02);
}
.tiles-sparkline .tiles-sparkline-heading {
  padding: 20px 20px 0;
  text-transform: uppercase;
}
.tiles-sparkline .tiles-sparkline-heading h2 {
  font-size: 36px;
  margin: 0;
  float: none;
  line-height: 1em;
}
.tiles-sparkline .tiles-sparkline-heading .tiles-sparkline-subheading {
  margin: 5px 0 0;
  float: none;
  letter-spacing: 0.1em;
  line-height: 1em;
  color: #93a8a8;
  font-weight: 400;
  font-size: 12px;
}
.tiles-sparkline .tiles-sparkline-heading .label {
  position: absolute;
  top: 20px;
  right: 20px;
}
.tiles-sparkline .tiles-sparkline-heading .week {
  position: absolute;
  top: 48px;
  float: none;
  right: 20px;
  text-transform: none !important;
  color: #cbd6d6 !important;
  font-size: 12px;
}
.tiles-sparkline .tiles-sparkline-heading .week i {
  font-size: 12px !important;
}
.tiles-sparkline .tiles-sparkline-body {
  padding: 20px;
}
.tiles-sparkline .tiles-sparkline-body .tabular {
  margin: 5px 0 0;
  padding: 0 3px;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell {
  width: 14.285714285714285714285714285714%;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .week-day {
  color: #cbd6d6;
  font-size: 12px;
  position: relative;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .sun {
  margin-left: -2px;
  left: 0;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .mon {
  margin-left: -3px;
  left: 16.67%;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .tue {
  margin-left: -4px;
  left: 33.33%;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .wed {
  margin-left: -4px;
  left: 50%;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .thu {
  margin-left: -4px;
  left: 66.67%;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .fri {
  margin-left: -4px;
  left: 83.33%;
}
.tiles-sparkline .tiles-sparkline-body .tabular .tabular-cell .sat {
  margin-left: -4px;
  left: 100%;
}
.tiles-sparkline .tiles-sparkline-footer {
  padding: 20px;
  background: #fafbfc;
  font-size: 14px;
  border-top: 1px solid #e6eaed;
  border-radius: 0 0 3px 3px;
}
.tile-piechart .easypiechart {
  float: left;
  display: inline;
  margin: 0;
  height: 60px;
  line-height: 60px;
}
.tile-piechart .easypiechart .percent {
  width: 60px;
  font-weight: 400;
  line-height: 60px;
  font-size: 14px;
}
.tile-piechart .tile-info {
  float: left;
  margin: 5px 10px 0;
}
.tile-piechart .tile-info label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 5px;
}
.info-tiles .tiles-body .easypiechart {
  margin: 10px auto;
  height: 80px;
  line-height: 80px;
  width: 80px;
}
.info-tiles .tiles-body .easypiechart .percent {
  width: 80px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
/*fin pagina principal*/

.newmsj-container{
  width: 50%;
  /*background-color:white;*/
  margin: 0 auto;
  /*height: 700px;*/

}
.nmsjt{
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.inbox-container{
  margin-top: 10px;
  background-color:white;
  padding:25px;
  /*height:800px;*/
}
.-icon{
  width: 16px;
}

.newmsj{
  width: 100%;
  background-color:white;
}

.btn span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}
#importFrm{
  margin-bottom: 20px;display: none;
}
#importFrm input[type=file] {
  display: inline;
}

*, *::after, *::before {
  box-sizing: border-box;
}
.site-title{
  text-shadow: -2px -2px 2px #000, 2px 2px 2px #000, -2px 2px 2px #000, 2px -2px 2px #000;
  color:white;
  font-size: 30px; 
  margin-top: 30px;

}
.img-preview{
  /*border: 1px solid;*/
  display: block;
  margin: 0 auto
}
.thumb {
  height: 300px;
  /*border: 1px solid #000;*/
  margin: 0 auto;
  display: block;
  border-radius: 50%;
} 
.imagen-empresa{
  width: 200px;
  display:flex;
  margin:0 auto;
  border-radius: 100px;

}

.imagen-deposito{
  width: 200px;
  display:flex;
  margin:0 auto;
  /*border-radius: 100px;*/

}

html {
  font-size: 62.5%;
}

body {
  background: url(../img/back2.png);
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #3e454c;
  background-color: #ffffff;
}
body::after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: #1784c7;
  text-decoration: none;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
@media only screen and (max-width: 768px ){
  .fmiembro{
    
  }
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
  padding: 45px 5% 3em;
}
.cd-main-content .content-wrapper h1 {
  text-align: center;
  padding: 3em 0;
  font-size: 2rem;
}
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
    margin-left: 110px;
    padding-top: 55px;
  }
  .cd-main-content .content-wrapper h1 {
    padding: 4em 0;
    font-size: 3.2rem;
    font-weight: 300;
  }
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 200px;
  }
  .cd-main-content::before {
    content: 'desktop';
  }
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #163155;/*color mmenu de arriba*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 768px) {
  .cd-main-header {
    position: fixed;
    height: 55px;
  }
}

.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
}
/*logo  css agregado///////////////////////////////////////*/
 .p-body{
  margin:20px 2.5% 20px 2.5%;
  /*border: 1px solid #ddd; */
  overflow:hidden;
  width: 95%;
}

 .txt_logo {
  margin:0px 0 0 0;
  /*display: inline-grid;*/
}
.txt_logo .txt_ {
  float: left;
  color: white;
  font-size: 18px;
  margin:15px 0 0 0.5%;
}
.img_txt{
  border-radius: 30px;
  /*border: 10px solid;*/
  float: left;
  margin:10px 0 0 4%;
  width: 40px;
}

@media only screen and (max-width: 768px){
  .txt_logo {
    margin:0px 0 0 0;

    /*display: inline-grid;*/
  }
  .txt_logo .txt_ {
    float: left;
    font-size: 16px;
    margin:15px 0 0 0.5%;
  }
  .img_txt{
    float: left;
    margin:10px 0 0 4%;
    width: 30px;
  }
}
/*fin logo //////////////////////////////////////*/
.cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    margin: 16px 0 0 36px;
  }
}

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em;
}
.cd-search.is-hidden {
  opacity: 0;
}
.cd-search::before {
  /* lens icon */
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-search.svg) no-repeat 0 0;
}
.cd-search input {
  padding-left: 32px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-search input:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .cd-search {
    float: left;
    display: inline-block;
    width: 250px;
    height: 100%;
    margin: 0 0 0 2.5em;
  }
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  .cd-search::before {
    background-position: 0 -16px;
    left: 1em;
  }
  .cd-search form, .cd-search input {
    height: 100%;
    width: 100%;
  }
  .cd-search input {
    border: none;
    padding-left: 2.6em;
    border-radius: 0;
    background-color: #3e454c;
    border-left: 1px solid #51575d;
    color: #ffffff;
  }
  .cd-search input::-webkit-input-placeholder {
    color: #777c81;
  }
  .cd-search input::-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}
/*color sub menu de cuenta///////////////////////////*/
.cd-nav ul > li a:hover{
  text-decoration: none;
  color: white;
  /*background: #194889;*/
}
.cd-nav .account a:hover{
  background: #194889;
}
.cd-nav ul > li a:active{
  text-decoration: none;
  color: white;
  /*background: #194889;*/

}
.cd-nav ul > li a:link{
  text-decoration: none;
  color: white;
  /*background: #194889;*/
  
}
.cd-nav .has-children ul > li a:hover{
  text-decoration: none;
  color: white;
  background: #163155;
}
.cd-nav .has-children ul > li a{
  text-decoration: none;
  background: #194889;
}
/*fin////////////////////////////////////////////*/

/*quitar link a menu ////////////////*/

/*fin///////////////////////////////*/
.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
.cd-top-nav > li a {
  padding: 1em 5% !important;
}
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1.8em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-top-nav {
    height: 100%;
  }
  .cd-top-nav a {
    display: block;
    font-size: 1.4rem;
    color: #ffffff;
  }
  .cd-top-nav > li {
    display: inline-block;
    margin-right: 1em;
    height: 100%;
  }
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
    background: #163155;/* color sub menu cuenta */
  }

  .cd-top-nav > li a {
    padding: 1em .6em !important;
  }
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-top-nav li:not(.has-children) a:hover {
  color: rgba(51, 122, 183, 1);

    text-decoration: none;
  }
}


/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #194889;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;

}
.cd-side-nav .cd-label, .cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: white;/*color de los label*/
  font-size: 1rem;
  letter-spacing: .1em;
}
.cd-side-nav a {
  position: relative;
  color: #ffffff;

  font-size: 1.4rem;
}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
.cd-side-nav > ul > li > a {
  padding-left: calc(5% + 24px);
  border-bottom: 1px solid #373d44;
}
/*color y decoracion de letras/////////////////*/
.cd-side-nav > ul > li > a:hover {
  text-decoration: none;
  color: white;
  background: rgba(51, 122, 183, 1);
}
.cd-side-nav .has-children ul > li > a:hover {
  text-decoration: none;  
  color: white;
  background: rgba(22, 49, 85, 1);
}
/*/////////////////////////////////////*/
.cd-side-nav > ul > li > a::before {
  /* icon before item name */

  position: absolute;
  content: '';
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-nav-icons.svg) no-repeat 0 0;
}

.cd-side-nav > ul > li.gmiembros > a::before {
  background: url(../img/usuarios.svg);  
  background-position: 0 0;
  background-size: 16px;
}

.cd-side-nav > ul > li.gcurso > a::before {
  background: url(../img/exam.svg);  
  background-position: 0 0;
  background-size: 16px;
}
.cd-side-nav > ul > li.gestudiante > a::before {
  background: url(../img/sueter.svg);  
  background-position: 0 0;
  background-size: 16px;
}

.cd-side-nav > ul > li.cuotas > a::before {
  background: url(../img/-pago.svg);  
  background-position: 0 0;
  background-size: 16px;
}
.cd-side-nav > ul > li.reporte > a::before {
  background: url(../img/reporte.svg);  
  background-position: 0 0;
  background-size: 16px;
}
.cd-side-nav > ul > li.message > a::before {
  background: url(../img/message.svg);  
  background-position: 0 0;
  background-size: 16px;
}
.cd-side-nav > ul > li.config > a::before {
  background: url(../img/config.svg);  
  background-position: 0 0;
  background-size: 16px;
}
.cd-side-nav > ul > li.seguridad > a::before {
  background: url(../img/seguridad.svg);  
  background-position: 0 0;
  background-size: 16px;
}
.cd-side-nav > ul > li.overview > a::before {
  background-position: -64px 0;
}
.cd-side-nav > ul > li.notifications > a::before {
  background-position: -80px 0;
}
.cd-side-nav > ul > li.comments > a::before {
  background-position: -48px 0;
}
.cd-side-nav > ul > li.bookmarks > a::before {
  background-position: -32px 0;
}
.cd-side-nav > ul > li.images > a::before {
  background-position: 0 0;
}
.cd-side-nav > ul > li.users > a::before {
  background-position: -16px 0;
}
.cd-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.2em 0.4em;
  background-color: #ff7e66;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.cd-side-nav .action-btn a {
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  background-color: #1784c7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.cd-side-nav .action-btn a::before {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-side-nav {
    position: relative;
    float: left;
    top: auto;
    width: 110px;
    min-height: 100vh;
    padding-top: 55px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;

  }
  .cd-side-nav.is-fixed {
    position: fixed;

  }
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;

  }
  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  .cd-side-nav a {
    font-size: 1.2rem;
    text-align: center;
  }
  .cd-side-nav > ul > li > a {
    padding: calc(2.2em + 24px) 0 2.4em;

  }
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: inset 3px 0 0 #1784c7;
    background-color: #33383e;
  }
  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
  .cd-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-side-nav {
    width: 200px;
  }
  .cd-side-nav > ul {
    padding: 0.6em 0;
  }
  .cd-side-nav > ul > li:not(.action-btn):hover > a {
  background: rgba(51, 122, 183, 1);

    /*background-color: #33383e;*/
  }
  .cd-side-nav > ul > li > a {
    padding: 1em 1em 1em 42px;
    text-align: left;
    border-bottom: none;
  }
  .cd-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }
  .cd-side-nav .action-btn {
    text-align: left;
  }
  .cd-side-nav .action-btn a {
    margin: 0 18px;
  }
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }
  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #1c1f22;
}
.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../img/cd-arrow.svg);
}
.has-children.selected > ul {
  display: block;
}
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 160px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  background: rgba(51, 122, 183, 1);

  }
  .no-touch .has-children ul a:hover {
    color: #1784c7;

  }
  .has-children > a::after {
    display: none;
  }
 /*tableta style////////////////////////////////////////////////////*/
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background: rgba(51, 122, 183, 1);
    text-decoration: none;
    color:white;
    /*background-color: #33383e;*/
  }
  /*///////////////////////////////////////////////////////*/
  .cd-top-nav .has-children {
    position: relative;
    background-color: #2c3136;

  }
  .cd-top-nav .has-children > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
  }
  .cd-top-nav .has-children > a::after {
    display: block;
    right: 1.8em;
  }
  .cd-top-nav .has-children ul {
    background-color: #1c1f22;
    width: 200px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;

  }
}
@media only screen and (min-width: 1170px) {
  .has-children > ul {
    width: 100%;
    z-index: 1;
  }
  .has-children ul a {
    padding-left: 18px;
  background: rgba(51, 122, 183, 1);

  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
    background: rgba(51, 122, 183, 1);


  }
}
